.header img {
    width: 50px;
    margin-left: 20px;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.header img:hover {
    transform: rotateY(360deg);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}